<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
				xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
				 layout:decorate="~{examples/template}"
				 xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
				 >

<body>

  
 
 
 <!--contenu a remplir -->
 <div class="content" layout:fragment="content">
        <div class="container">
          <div class="row">
            <div class="col-md-8">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title">Edit Profile</h4>
                  <p class="card-category">Completer votre profile</p>
                </div>
                <div class="card-body">
                  <form  method="post" th:action="@{/profileEditEnseignant}" th:object="${profile}">
                  
              
                    <div class="row" >
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="bmd-label-floating">Laboratoire</label>
                          <input type="text" class="form-control" th:field="*{Lab}" >
                        </div>
                      </div>
                   
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label class="bmd-label-floating">Username</label>
                          <input type="text" class="form-control" th:field="*{username}" >
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-4">
                        <div class="form-group">
                          <label class="bmd-label-floating">Email</label>
                          <input type="text" class="form-control"  th:field="*{email}" >
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label class="bmd-label-floating">Password</label>
                          <input type="text" class="form-control"  th:field="*{password}">
                        </div>
                      </div>
                   
                    </div>
        
                    <button type="submit" class="btn btn-primary pull-right">Update Profile</button>
                    <div class="clearfix"></div>
                  </form>
                </div>
              </div>
            </div>
        
          </div>
        </div>
      </div>
      
</body>

</html>